body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* 清新的浅蓝色背景 */
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #add8e6; /* 清新的淡蓝色背景 */
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #87ceeb 3px solid; /* 更淡的蓝色边框 */
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    font-size: 24px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

.main {
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.main h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.main p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.main .contact-info {
    margin-top: 20px;
}

.main .contact-info h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.main .contact-info p {
    font-size: 14px;
    margin-bottom: 5px;
}

.resume-section {
    margin-bottom: 20px;
}

.resume-section h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.resume-section p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

footer {
    background: #add8e6; /* 清新的淡蓝色背景 */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}